<div class="card">
    <h4 class="card-header">About</h4>
    <div class="card-body">
      <ul>
        <li>
          <b>Name: </b>Mushrifah Hasan
        </li>
        <li>
          <b>Roll no:: </b>2020310003
        </li>
        <li>
          <b>Car Database Management System</b>
          <b>Technologies used</b>
        </li>
        <ul>
          <li>
           MongoDB 
          </li>
          <li>
            Node.js
          </li>
          <li>
            Express.js
          </li>
          <li>
            AngualarJS
          </li>
        </ul>
        <b>Functionalities</b>
        <ul>
          <li>
            Register Page
          </li>
          <li>
           Login Page
          </li>
          <li>
           Login and Register authentication usong JWT
          </li>
          <li>
            Add booking details- car name, name, booking date
          </li>
          <li>
            Delete car details
          </li>
          <li>
            Update car details
          </li>
        </ul>
      </ul>
    </div>
  </div>